Repository search-ninja-io/search-ninja.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "*.{ts,tsx,js,jsx}": ["eslint --fix", "git add"],
    "*.{json,md,html,css,yml,yaml}": ["prettier --write", "git add"]
}

eslint / prettier config in vscode
  .eslintignore
  .eslintrc.json
  .lintstagedrc.json
  .prettierignore
  .vscode/settings.json
  package.json
  packages/aws/api-gateway/src/aws-cdk/index.ts
  packages/aws/cdk-stack/package.json
  packages/aws/lambda-auth/package.json
  packages/aws/lambda-auth/src/aws-cdk/index.ts
  packages/aws/lambda-auth/tsconfig.build.json
  packages/aws/lambda-auth/webpack.config.js
  yarn.lock
Due: eslint --fix, prettier --write

removed git add
  .lintstagedrc.json
Due: prettier --write

Test pre-commit hook
  .huskyrc.json
Due: prettier --write

removed .gitignore in sub directories
  .gitignore
  packages/aws/cdk-stack/.gitignore
  packages/aws/lambda-auth/.gitignore
  packages/web/frontend/.gitignore
Due: none

Refactored to nest.js backend
  .eslintrc.json
  .gitignore
  .vscode/settings.json
  package.json
  packages/aws/lambda-auth/package.json
  packages/aws/lambda-auth/webpack.config.js
  packages/backend/api-gateway/package.json
  packages/backend/api-gateway/serverless.yml
  packages/backend/api-gateway/src/handler.js
  packages/backend/api-gateway/webpack.config.js
  packages/backend/auth/nest-cli.json
  packages/backend/auth/nodemon-debug.json
  packages/backend/auth/nodemon.json
  packages/backend/auth/package.json
  packages/backend/auth/serverless.yml
  packages/backend/auth/src/app.module.ts
  packages/backend/auth/src/common/common.dto.ts
  packages/backend/auth/src/health/health.controller.ts
  packages/backend/auth/src/health/health.dto.ts
  packages/backend/auth/src/main.ts
  packages/backend/auth/src/user/user.controller.ts
  packages/backend/auth/src/user/user.dto.ts
  packages/backend/auth/src/user/user.service.ts
  packages/backend/auth/tsconfig.json
  packages/backend/auth/tsconfig.spec.json
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

Removed material-ui and added svelte
  .eslintrc.json
  .prettierrc.json
  .vscode/settings.json
  packages/aws/ses/lambda-config.json
  packages/aws/ses/lambda-execution-policy.json
  packages/aws/ses/lambda_function.py
  packages/aws/ses/s3-bucket-policy.json
  packages/web/material-ui/.gitignore
  packages/web/material-ui/README.md
  packages/web/material-ui/cypress.json
  packages/web/material-ui/package.json
  packages/web/material-ui/rollup.config.js
  packages/web/material-ui/src/client.js
  packages/web/material-ui/src/components/Nav.svelte
  packages/web/material-ui/src/routes/_error.svelte
  packages/web/material-ui/src/routes/_layout.svelte
  packages/web/material-ui/src/routes/about.svelte
  packages/web/material-ui/src/routes/blog/[slug].json.js
  packages/web/material-ui/src/routes/blog/[slug].svelte
  packages/web/material-ui/src/routes/blog/_posts.js
  packages/web/material-ui/src/routes/blog/index.json.js
  packages/web/material-ui/src/routes/blog/index.svelte
  packages/web/material-ui/src/routes/index.svelte
  packages/web/material-ui/src/server.js
  packages/web/material-ui/src/service-worker.js
  packages/web/material-ui/src/template.html
  packages/web/material-ui/static/favicon.png
  packages/web/material-ui/static/global.css
  packages/web/material-ui/static/logo-192.png
  packages/web/material-ui/static/logo-512.png
  packages/web/material-ui/static/manifest.json
  packages/web/material-ui/static/successkid.jpg
  svelte.config.js
  yarn.lock
Due: eslint --fix, prettier --write

Little updates
  babel.config.json
  packages/web/admin/.babelrc
  packages/web/admin/package.json
  packages/web/admin/static/frame-harirak-UR_mNYmpwco-unsplash.jpg
  packages/web/bceffretikon/.gitignore
  packages/web/bceffretikon/README.md
  packages/web/bceffretikon/package.json
  packages/web/bceffretikon/parallax-template/LICENSE
  packages/web/bceffretikon/parallax-template/background1.jpg
  packages/web/bceffretikon/parallax-template/background2.jpg
  packages/web/bceffretikon/parallax-template/background3.jpg
  packages/web/bceffretikon/parallax-template/css/materialize.css
  packages/web/bceffretikon/parallax-template/css/materialize.min.css
  packages/web/bceffretikon/parallax-template/css/style.css
  packages/web/bceffretikon/parallax-template/index.html
  packages/web/bceffretikon/parallax-template/js/init.js
  packages/web/bceffretikon/parallax-template/js/materialize.js
  packages/web/bceffretikon/parallax-template/js/materialize.min.js
  packages/web/bceffretikon/rollup.config.js
  packages/web/bceffretikon/src/client.js
  packages/web/bceffretikon/src/routes/_error.svelte
  packages/web/bceffretikon/src/routes/_layout.svelte
  packages/web/bceffretikon/src/routes/index.svelte
  packages/web/bceffretikon/src/routes/parallax.svelte
  packages/web/bceffretikon/src/server.js
  packages/web/bceffretikon/src/service-worker.js
  packages/web/bceffretikon/src/template.html
  packages/web/bceffretikon/static/favicon.png
  packages/web/bceffretikon/static/global.css
  packages/web/bceffretikon/static/img/background1.jpg
  packages/web/bceffretikon/static/img/background2.jpg
  packages/web/bceffretikon/static/img/background3.jpg
  packages/web/bceffretikon/static/logo-192.png
  packages/web/bceffretikon/static/logo-512.png
  packages/web/bceffretikon/static/manifest.json
  yarn.lock
Due: eslint --fix, prettier --write

update
  .babelrc.json
Due: prettier --write
